:root {
  --background: white;
  --text-primary: black;
  --text-secondary: #d68624;
  --accent: #74a525;
  --force-dark: #141414;
  --force-light: white;
}

[data-theme='dark'] {
  --background: #141414;
  --text-primary: white;
  --text-secondary: #d68624;
  --accent: grey;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 20px;
  transition: all .5s;
}

body {
  background-color: var(--background);
  transition: all .5s;
}

p {
  color: var(--text-primary);
}

span {
  color: var(--force-dark);
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 0px;
  transition: all .5s;
}

.theme-element {
  color: var(--text-primary) !important;
  border-color: var(--text-primary) !important;
  transition: all .5s;
}

.theme-force {
  color: var(--force-dark) !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
}

.drawer-item {
  text-decoration: none;
  display: block !important;
  width: 250px;
  padding: 10px !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
}

.drawer {
  padding: 90px 10px 0px 10px;
}

.sidebar {
  color: var(--force-dark) !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
  position: fixed;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
}

.border {
  background-image: linear-gradient(to right, #ff981b, transparent);
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 12000;
}

.border-reverse {
  background-image: linear-gradient(to left, #ff981b, transparent);
  height: 5px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 12000;
}

.link:hover {
  color: rgba(214, 134, 36, 1) !important;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track {
  border: 7.9px solid var(--force-light);
  background-color: #d68624;
}

::-webkit-scrollbar-thumb {
  border: 6px solid;
  border-color: var(--force-light);
  border-radius: 75px;
  background-color: var(--force-dark);
  min-height: 24px;
  min-width: 24px;
}