@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: #d68624;
  --accent: #74a525;
  --force-dark: #141414;
  --force-light: white;
}

[data-theme='dark'] {
  --background: #141414;
  --text-primary: white;
  --text-secondary: #d68624;
  --accent: grey;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 20px;
  transition: all .5s;
}

body {
  background-color: var(--background);
  transition: all .5s;
}

p {
  color: var(--text-primary);
}

span {
  font-family: 'Cormorant Garamond', serif;
  color: var(--force-dark);
  font-size: 17px;
}

.subheading {
  font-size: 50px;
}

.year {
  font-size: 25px;
  margin-top: -15px;
  font-weight: bold;
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 0px;
  transition: all .5s;
}

.theme-element {
  color: var(--text-primary) !important;
  border-color: var(--text-primary) !important;
  transition: all .5s;
}

.theme-force {
  color: var(--force-dark) !important;
  border-color: var(--force-dark) !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
}

.drawer-item {
  text-decoration: none;
  display: block !important;
  width: 250px;
  padding: 10px !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
}

.drawer {
  padding: 90px 10px 0px 10px;
}

.sidebar {
  color: var(--force-dark) !important;
  background-color: var(--force-light) !important;
  transition: all .5s !important;
  position: fixed;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
}

.border {
  background-image: linear-gradient(to right, #ff981b, transparent);
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 12000;
}

.border-reverse {
  background-image: linear-gradient(to left, #ff981b, transparent);
  height: 5px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 12000;
}

.webdev-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0 40px 0;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.game-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 40px 0 40px 0;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.game-button,
.game-button:visited {
  border: 1px solid var(--force-dark) !important;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  margin: 1em 0;
  margin-right: 10px;
  color: var(--text-primary);
  text-decoration: none;
}

.game-button:hover,
.game-button:visited:hover {
  background-color: var(--force-dark);
  color: var(--background);
}

.game-button::after {
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  transition: transform 0.3s ease-out;
}

.game-button:hover::after {
  transform: translateX(4px);
}

.contactInput, .contactInputLabel {
  color: var(--text-primary) !important;
}

.MuiOutlinedInput-root.Mui-focused, .MuiOutlinedInput-notchedOutline {
  border-color: var(--text-primary) !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: rgba(214, 134, 36, 1) !important;
}

.link:visited {
  color: var(--text-primary);
}

.pswp__counter {
  display: none;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 40px;
  width: 20px;
}

.image-gallery-left-nav:hover,
.image-gallery-right-nav:hover {
  color: #ff981b !important;
}

.image-gallery-content {
  width: 420px;
}

.pswp__default-caption {
  background-color: var(--force-light);
  color: var(--force-dark) !important;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track {
  border: 7.9px solid var(--force-light);
  background-color: #d68624;
}

::-webkit-scrollbar-thumb {
  border: 6px solid;
  border-color: var(--force-light);
  border-radius: 75px;
  background-color: var(--force-dark);
  min-height: 24px;
  min-width: 24px;
}