@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

@font-face {
  font-family: 'Eight';
  src: local('Eight'), url(./assets/fonts/Pieces\ of\ Eight.ttf) format('truetype');
}

body {
  margin: 40px 0 0 0;
  height: calc(100vh - 80px);
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p {
  font-family: 'Cinzel', serif;
}

h1 {
  font-family: 'Eight', cursive;
  font-size: 87px;
  line-height: 73px;
  margin: 0px;
}

h2 {
  font-family: 'New Rocker', cursive;
  font-size: 40px;
  line-height: 80px;
  margin: 0px;
}

.drawer-item {
  font-family: 'Cinzel', serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}